<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= @page_title %></title>
    <%# is what is on tab in browser %>
    <%= csrf_meta_tags %>

    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# stylesheet_link_tag is connected to a css file(assets/stylesheets/application) you can import
    other stylesheets %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# <meta name="viewport" content="width=device-width,initial-scale=1"/> %>
    <%# go to browser and click View PageSource, it shows the meta seo data%>
  </head>

  <body>
    <p class="notice"><%= notice %>
    <p class="alert"><%= alert %>
      <%# render this shared partial %>
      <%= render 'shared/nav', location: 'top' %>

      <%= login_helper %>
      <%# is routed to ApplicationHelper and see if there is any method called login_helper %>
      <%# yield gives way or lets you slide in any of the other templates that are being called, like when you click on the blog or portfolio link above%>

      <%= yield %>

      <%# <%= copyright_generator %>
      <%# above needs fixing, throws an error for the copyright, see gem %>

      <%= source_helper("application") %>
  </body>
</html>
